{:itonami.blueprint/id "cloud-itonami-7721"
 :itonami.blueprint/name "Community Recreational and Sports Goods Rental Operations"
 :itonami.blueprint/isic-rev5 "7721"
 :itonami.blueprint/domain :commercial/recreational-goods-rental-services
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:consumer-protection :shared-asset-access :outdoor-recreation-access]
 :itonami.blueprint/governor :recreational-rental-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :labor]
 :itonami.blueprint/optional-technologies [:optimization]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :implemented}
