{:kotoba.app/id "cloud.itonami.isic-7721", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreida74tqg3iuw6baizs3evmu6ekdi3e7lg3szd5qqi4xihjafsg3nu", :kotoba.app/embed-url "ipfs://bafkreida74tqg3iuw6baizs3evmu6ekdi3e7lg3szd5qqi4xihjafsg3nu", :published {:archive "https://kotobase.net/ipfs/bafkreida74tqg3iuw6baizs3evmu6ekdi3e7lg3szd5qqi4xihjafsg3nu", :size 73102, :put-status 201, :get-status 200, :at "2026-08-15T13:52:54.720Z"}}
